.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(237, 235, 235);
    width: 100%;
    /* border-radius: 24px; */
}

/* HERO */

.heroImg {
    background-image: url(src/assets/hero.jpeg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 24px 24px 0 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.clock {
    font-size: 17px;
    padding: 0 1.2rem;
}

.blackBox {
    width: 125px;
    height: 37px;
    background-color: black;
    border-radius: 100px;
    margin: 8px;
}

.iphoneIconsWrapper {
    display: flex;
    gap: 0.3rem;
    padding: 0 0.5rem;
}

.stc {
    font-style: italic;
    font-size: 30px;
    margin: 0;
}

.insideHeroWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.hamburgerWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-right: 0.9rem;
}

.hamburgerMenu {
    width: 24px;
    background-color: white;
    border: 2px solid white;
    border-radius: 2px;
}

.hidden {
    display: none;
}

.h1Box {
    display: flex;
    justify-self: end;
}

.h1 {
    font-size: 3.5rem;
    margin: 24px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* CARDS */

.cardGym {
    width: 345px;
    height: 136px;
    background-color: black;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    text-decoration: none;
}

.h2 {
    font-size: 1.5rem;
    align-self: flex-end;
    margin: 0 0 12px 20px;
    color: white;
}

.arrow {
    width: 24px;
    height: 24px;
    align-self: flex-end;
    margin: 0 20px 12px 0;
}

/* MEDIA QUERIES */

@media (min-width: 600px) {
    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .heroImg {
        height: 500px;
    }

    .clock, .blackBox, .iphoneIconsWrapper {
        display: none;
    }

    .insideHeroWrapper {
        margin-top: 3rem;
    }

    .cardGym {
        width: 80%;
    }
}

@media (min-width: 800px) {
    .wrapper {
        width: 100%;
        gap: 1rem;
    }

    .cardGym {
        width: 345px;
    }

    .h1Box {
        display: flex;
        justify-content: center;
    }

    .h1 {
        font-size: 4.5rem;
        margin: 24px;
    }
}

@media (max-width: 350px) {
    .cardGym {
        width: 90%;
        height: 100px;
    }
    .h1 {
        font-size: 2rem;
    }
}
